<h2>Background</h2>
<p>Upload a background image or pattern</p>
<div class="row">
  <div class="col">
    <%= f.file_field :background_image, accept: 'image/png,image/jpeg' %>
    <%= list_image(@business_display_attribute.sized_background_image(size: 100), alt: "Image") %>

    <% if @business_display_attribute.background_image.attached? %>
      <%= f.input :remove_background_image, as: :boolean, checked_value: true, unchecked_value: false %>
    <% end %>
  </div>
  <div class="col">
    <div class="row" id="repeat-s">
      <%= f.input :repeat, as: :boolean, label: "Repeat background" %>
      <p data-toggle="tooltip" title="Repeat is best for images that are patterns. Leave unchecked for fullsized background images."><%= image_tag "tooltip" %></p>
    </div>
  </div>
</div>
<div class="row bda-inputs">
  <div class="col">
    <%= f.input :background_color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}, label: 'Background colour' %>
  </div>
</div>
<div class="row bda-inputs">
  <div class="col">
    <%= f.input :foreground_color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}, label: 'Foreground colour'%>
  </div>
  <div class="col">
    <%= f.input :foreground_opacity, label: 'Foreground opacity (1-10)' %>
  </div>
</div>