<div class="new-business-form">
  <h2>Create A Business</h2>
  <br>
  <%= simple_form_for @business do |f| %>
    <%= f.input :name %>
    <%= f.input :phone_number %>
    <%= f.input :description, as: :trix_editor %>
    <%= f.input :email, label: "Business Email" %>
    <div class="row">
      <p data-toggle="tooltip" title="Business Url is the url for your business. E.g. https://clicking-sandwiches.herokuapp.com/[your business url]"><%= image_tag "tooltip" %></p>
      <%= f.input :business_url %>
    </div>
    <br>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>