<h1>Create A Business</h1>
<%= simple_form_for @business do |f| %>
  <%= f.input :name %>
  <%= f.input :phone_number %>
  <%= f.input :email, label: "Business Email" %>
  <%= f.button :submit %>
<% end %>
<%= link_to "back", root_path %>
