<div class="new-business-form">
  <h2>Create A Business</h2>
  <br>
  <%= simple_form_for @business do |f| %>
    <%= f.input :name %>
    <%= f.input :phone_number %>
    <%= f.input :description %>
    <%= f.input :email, label: "Business Email" %>
    <%= f.input :business_url %>
    <br>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>