<div class="col">
  <%= simple_form_for @business do |f| %>
  <div class="show container">
    <div class="row">
      <h1 class="show-header"> Your Business Details</h1>
    </div>

    <div class="row">
      <h4> <%= f.input :name, placeholder: @business.name %></h4>
    </div> 

    <hr/>

    <div class="row">
      <h4> <%= f.input :email, placeholder: @business.email %></h4>
    </div>

    <hr/>


    <div class="row">
      <h4> <%= f.input :phone_number, placeholder: @business.phone_number %></h4>
    </div>

    <hr>

    <div class="row">
      <h4> <%= f.input :business_url, placeholder: @business.business_url %></h4>
    </div>
  <div>
  <%= f.button :submit, class: "btn btn-primary", data: { disable_with: "Saving..." } %>
  <% end %>
    <div class="col">
    <h1>Preview Customization</h1>
  <iframe src="http://localhost:3000/<%= @business.business_url %>" style="width: 100%; height: 500px;"
      <p>Placeholder text; only shows up if the page DOESN'T render!</p>>
  </iframe>
</div>
  <div class="show container">
    <%= simple_form_for @business_display_attribute do |f| %>
    <div class="row">
      <h1 class="show-header"> Your Business Customization</h1>
    </div>
    <div class="row">
      <h4> <%= f.input :primary_color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%></h4>
    </div> 

    <hr/>

    <div class="row">
      <h4> <%= f.input :secondary_color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%></h4>
    </div>

    <hr/>

    <div class="row">
      <h4> <%= f.input :background_color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%></h4>
    </div>

    <hr>

    <div class="row">
      <h4> <%= f.association :font, collection: @fonts %> </h4>
    </div>
  <div>
  <%= link_to "Reset Customization Options", reset_options_business_path(@business_display_attribute, @business) %>
  <%= f.button :submit, class: "btn btn-primary", data: { disable_with: "Saving..." } %>
  <% end %>
</div>
