<div class="container" style="padding-bottom:100px; padding-top:10px;">
  <%= simple_form_for @business do |f| %>
    <h3 style="text-align:center;"> Your Business Details</h3>
    <div class="row" style="margin-bottom:20px;">
      <div class="col">
        <%= f.input :name %>
        <%= f.input :email %>
      </div>
      <div class="col">
        <%= f.input :phone_number %>
      </div>
      <div class="col">
        <%= f.input :business_url %><br>
      </div>
    </div>
    <%= f.button :submit, class: "btn btn-sm btn-primary", data: { disable_with: "Saving..." } %>
  <% end %>
  <br>

  <h4>Preview Customization</h4>
  <iframe src="http://localhost:3000/<%= @business.business_url %>" id="business-iframe">
      <p>Placeholder text; only shows up if the page DOESN'T render!</p>
  </iframe>

  <%= simple_form_for @business_display_attribute do |f| %>
    <h4> Your Business Customization</h4>
    <div class="row" style="margin-bottom:20px;">
      <div class="col">
        <%= f.input :primary_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        <%= f.input :secondary_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>

      </div>
      <div class="col">
        <%= f.input :background_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        <%= f.association :font, collection: @fonts %>

      </div>
    </div>
    <%#= link_to "Reset Customization Options", reset_options_business_path(@business_display_attribute, @business) %>
    <%= f.button :submit, class: "btn btn-sm btn-primary", data: { disable_with: "Saving..." } %>
  <% end %>
</div>
