<div class="container" id="business-show-container">
  <%= simple_form_for @business do |f| %>
    <h3 style="text-align:center;"> Your Business Details</h3>
    <div class="row" id="business-s-info">
      <div class="col">
        <%= f.input :name %>
        <%= f.input :email %>
      </div>
      <div class="col">
        <%= f.input :phone_number %>
      </div>
      <div class="col">
        <span data-toggle="tooltip" title="Business Url is the url for your business. E.g. https://clicking-sandwiches.herokuapp.com/[your business url]"><%= image_tag "tooltip" %>Business url</span>
        <%= f.input :business_url, label: '' %>
      </div>
    </div>
    <div id="business-s-description">
      <%= f.input :description, label: "Business Description", as: :trix_editor %>
      <%= f.button :submit, class: "b-btn-save btn btn-primary", data: { disable_with: "Saving..." } %>
    </div>
  <% end %>
  <br>

  <h3 style="text-align:center;">Website Preview</h3>
  <iframe src="<%= public_locations_path(@business.business_url)%>" id="business-iframe">
      <p>Sorry! Something went wrong.</p>
  </iframe>

  <%= simple_form_for @business_display_attribute, url: update_business_display_attribute_business_path do |f| %>
    <h2 id="bc-title"> Your Business Customization</h2>
    <div id="business-customization">
      <div class="row">
        <div class="col">
          <p>Upload a Favicon</p>
          <%= f.file_field :favicon, accept: 'image/png,image/jpeg,image/ico' %>
          <%= list_image(@business_display_attribute.sized_favicon(size: 100), alt: "Image") %>

          <% if @business_display_attribute.favicon.attached? %>
            <%= f.input :remove_favicon, as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
      </div>
      <hr>
      <h2>Background</h2>
      <p>Upload a background image or pattern</p>
      <div class="row">
        <div class="col">
          <%= f.file_field :background_image, accept: 'image/png,image/jpeg' %>
          <%= list_image(@business_display_attribute.sized_background_image(size: 100), alt: "Image") %>

          <% if @business_display_attribute.background_image.attached? %>
            <%= f.input :remove_background_image, as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
        <div class="col">
          <div class="row" id="repeat-s">
            <%= f.input :repeat, as: :boolean, label: "Repeat background" %>
            <p data-toggle="tooltip" title="Repeat is best for images that are patterns. Leave unchecked for fullsized background images."><%= image_tag "tooltip" %></p>
          </div>
        </div>
      </div>
      <div class="row bda-inputs">
        <div class="col">
          <%= f.input :background_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}, label: 'Background colour' %>
        </div>
      </div>
      <div class="row bda-inputs">
        <div class="col">
          <%= f.input :foreground_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}, label: 'Foreground colour'%>
        </div>
        <div class="col">
          <%= f.input :foreground_opacity, label: 'Foreground opacity (1-10)' %>
        </div>
      </div>
      <hr>
      <h2>Header</h2>
      <div class="row">
        <div class="col bda-inputs">
          <%= f.association :heading_font, collection: @fonts, include_blank: false %>
        </div>
      </div>
      <div class="row">
        <div class="col bda-inputs">
          <p>Upload a Banner, recommended dimentions are 1250 × 200 </p> 
          <%= f.file_field :banner, accept: 'image/png,image/jpeg' %>
          <%= list_image(@business_display_attribute.sized_banner(size: 100), alt: "Image") %>

          <% if @business_display_attribute.banner.attached? %>
            <%= f.input :remove_banner, label: 'Remove banner', as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
        <br>
        <div class="col bda-inputs">
          <p>Upload a top icon</p>
          <%= f.file_field :top_icon, accept: 'image/png,image/jpeg' %>
          <%= list_image(@business_display_attribute.sized_top_icon(size: 100), alt: "Image") %>

          <% if @business_display_attribute.top_icon.attached? %>
            <%= f.input :remove_top_icon, label: 'Remove Top Icon', as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
      </div>
      <hr>
      <h2>Hero</h2>
      <div class="row" id="hero-buttons">
        <%= f.input :hero_image_or_video, label: '', as: :radio_buttons, :collection => [['Use Hero Image', true] ,['Use Hero Video', false]] %>
      </div>
      <div class="row">
        <div class="col bda-inputs" id="use-hero-image" style="display: <%= @business_display_attribute.hero_image_or_video ? 'block' : 'none '%>;">
          <p>Hero image</p>
          <%= f.file_field :hero_image %>
          <%= list_image(@business_display_attribute.sized_hero_image(size: 20), alt: "Image") %>
          
          <% if @business_display_attribute.hero_image.attached? %>
            <%= f.input :remove_hero_image, label: 'Remove Hero Image', as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
        <div class="col bda-inputs" id="use-hero-video" style="display: <%= @business_display_attribute.hero_image_or_video ? 'none' : 'block'%>;">
          <p>Hero Video</p>
          <%= f.file_field :hero_video %>

          <% if @business_display_attribute.hero_video.attached? %>
            <%= video_tag(url_for(@business_display_attribute.hero_video), controls: '', muted: true, height: '200', width: '200') %>
            <%= f.input :remove_hero_video, label: 'Remove Hero Video', as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
      </div>
      <hr>
      <h2>Colors</h2>
      <div class="row">
        <div class="col bda-inputs">
          <%= f.input :nav_bar_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors", label: 'Nav Bar colour'} %>
        </div>
        <div class="col bda-inputs">
          <%= f.input :menu_item_header_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}, label: 'Menu Item heading colour'%>
        </div>
      </div>
      <hr>
      <h2>Text and font</h2>
      <div class="row">
        <div class="col bda-inputs">
          <%= f.association :font, collection: @fonts, include_blank: false %>
          <%= f.input :general_text_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
          <%= f.input :heading_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
        </div>
      </div>
      <hr>
      <h2>Cards and buttons</h2>
      <div class="row">
        <div class="col bda-inputs">
          <%= f.input :button_text_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
          <%= f.input :button_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        </div>
        <div class="col bda-inputs">
          <%= f.input :card_background_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
          <%= f.input :card_border_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        </div>
      </div>
    </div>
    <div id="b-show-links">
      <%= f.button :submit, "Update Customization", class: "btn btn-primary", data: { disable_with: "Saving..." } %>
      <%= link_to "View Public Pages", public_locations_path(current_user.business.business_url), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
