<div class="container" style="padding-bottom:100px; padding-top:10px;">
  <%= simple_form_for @business do |f| %>
    <h3 style="text-align:center;"> Your Business Details</h3>
    <div class="row" style="margin-bottom:20px; ">
      <div class="col">
        <%= f.input :name %>
        <%= f.input :email %>
      </div>
      <div class="col">
        <%= f.input :phone_number %>
      </div>
      <div class="col">
        <%= f.input :business_url %><br>
      </div>
      <%= f.input :description, label: "Business Description", as: :trix_editor %>
    </div>
    <%= f.button :submit, class: "btn btn-sm btn-primary", data: { disable_with: "Saving..." } %>
  <% end %>
  <br>

  <h4>Preview Customization</h4>
  <iframe src="<%= public_locations_path(@business.business_url) %>" id="business-iframe">
      <p>Placeholder text; only shows up if the page DOESN'T render!</p>
  </iframe>å

  <%= simple_form_for @business_display_attribute do |f| %>
    <h4> Your Business Customization</h4>
    <div class="row" style="margin-bottom:20px;">
      <div class="col">
        <p>Upload a Banner, dimentions are 1250 × 200 </p>
        <%= f.file_field :business_icon, accept: 'image/png,image/jpeg' %>
        <%= list_image(@business_display_attribute.sized_business_icon(size: 100), alt: "Image") %>

        <% if @business_display_attribute.business_icon.attached? %>
          <%= f.input :remove_business_icon, as: :boolean, checked_value: true, unchecked_value: false %>
        <% end %>

        <p>Upload a Favicon</p>
        <%= f.file_field :favicon, accept: 'image/png,image/jpeg' %>
        <%= list_image(@business_display_attribute.sized_favicon(size: 100), alt: "Image") %>

        <% if @business_display_attribute.favicon.attached? %>
          <%= f.input :remove_favicon, as: :boolean, checked_value: true, unchecked_value: false %>
        <% end %>

      </div>
      <div class="col">
        <%= f.input :nav_bar_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
        <%= f.input :heading_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
        <%= f.input :primary_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        <%= f.input :secondary_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
      </div>
      <div class="col">
        <%= f.input :background_color, as: :minicolors, input_html: {data: {
              minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        <%= f.association :font, collection: @fonts %>
        <%= f.input :general_text_color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
      </div>
    </div>
    <%#= link_to "Reset Customization Options", reset_options_business_path(@business_display_attribute, @business) %>
    <%= f.button :submit, class: "btn btn-sm btn-primary", data: { disable_with: "Saving..." } %>
  <% end %>
</div>
