<div class="container" id="business-show-container">
  <%= simple_form_for @business do |f| %>
    <h3 style="text-align:center;"> Your Business Details</h3>
    <div class="row" id="business-s-info">
      <div class="col">
        <%= f.input :name %>
        <%= f.input :email %>
      </div>
      <div class="col">
        <%= f.input :phone_number %>
      </div>
      <div class="col">
        <div class="row">
          <p data-toggle="tooltip" title="Business Url is the url for your business. E.g. https://clicking-sandwiches.herokuapp.com/[your business url]"><%= image_tag "tooltip" %></p>
          <%= f.input :business_url %><br>
        </div>
      </div>
      <div id="business-s-description">
        <%= f.input :description, label: "Business Description", as: :trix_editor %>
        <%= f.button :submit, class: "b-btn-save btn btn-primary", data: { disable_with: "Saving..." } %>
      </div>
    </div>
  <% end %>
  <br>

  <h3 style="text-align:center;">Website Preview</h3>
  <iframe src="<%= public_locations_path(@business.business_url)%>" id="business-iframe">
      <p>Placeholder text; only shows up if the page DOESN'T render!</p>
  </iframe>

  <%= simple_form_for @business_display_attribute, url: update_business_display_attribute_business_path do |f| %>
    <h4> Your Business Customization</h4>
    <div id="business-customization">
      <div class="row">
        <div class="col">
          <p>Upload a Banner, recommended dimentions are 1250 × 200 </p>
          <%= f.file_field :business_icon, accept: 'image/png,image/jpeg' %>
          <%= list_image(@business_display_attribute.sized_business_icon(size: 100), alt: "Image") %>

          <% if @business_display_attribute.business_icon.attached? %>
            <%= f.input :remove_business_icon, as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
        <div class="col">
          <p>Upload a Favicon</p>
          <%= f.file_field :favicon, accept: 'image/png,image/jpeg,image/ico' %>
          <%= list_image(@business_display_attribute.sized_favicon(size: 100), alt: "Image") %>

          <% if @business_display_attribute.favicon.attached? %>
            <%= f.input :remove_favicon, as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
      </div>
      <hr>
      <h2>Background</h2>
      <p>Upload a background image or pattern</p>
      <div class="row">
        <div class="col">
          <%= f.file_field :background_image, accept: 'image/png,image/jpeg' %>
          <%= list_image(@business_display_attribute.sized_background_image(size: 100), alt: "Image") %>

          <% if @business_display_attribute.background_image.attached? %>
            <%= f.input :remove_background_image, as: :boolean, checked_value: true, unchecked_value: false %>
          <% end %>
        </div>
        <div class="col">
          <div class="row" id="repeat-s">
            <%= f.input :repeat, as: :boolean, checked_value: true, unchecked_value: false, label: "Repeat background" %>
            <p data-toggle="tooltip" title="Repeat is best for images that are patterns. Leave unchecked for fullsized background images."><%= image_tag "tooltip" %></p>
          </div>
        </div>
      </div>
      <div class="row bda-inputs">
        <div class="col">
          <%= f.input :background_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        </div>
      </div>
      <div class="row bda-inputs">
        <div class="col">
          <%= f.input :foreground_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        </div>
        <div class="col">
          <%= f.input :foreground_opacity %>
        </div>
      </div>
      <hr>
      <h2>Colors</h2>
      <div class="row">
        <div class="col bda-inputs">
          <%= f.input :nav_bar_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
          <%= f.input :primary_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
          <p>Menu item heading background</p>
        </div>
        <div class="col bda-inputs">
          <%= f.input :secondary_color, as: :minicolors, input_html: {data: {
                minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        </div>
      </div>
      <hr>
      <h2>Text and font</h2>
      <div class="row">
        <div class="col bda-inputs">
          <%= f.association :font, collection: @fonts, include_blank: false %>
          <%= f.input :general_text_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
          <%= f.input :heading_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"} %>
        </div>
      </div>
      <hr>
      <h2>Cards and buttons</h2>
      <div class="row">
        <div class="col bda-inputs">
          <%= f.input :button_text_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
          <%= f.input :button_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        </div>
        <div class="col bda-inputs">
          <%= f.input :card_background_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
          <%= f.input :card_border_color, as: :minicolors, input_html: {data: {
            minicolors: {theme: :bootstrap, position: :right}}, class: "minicolors"}%>
        </div>
      </div>
    </div>
    <div id="b-show-links">
      <%= f.button :submit, class: "btn btn-primary", data: { disable_with: "Saving..." } %>
      <%= link_to "View Public Pages", public_locations_path(current_user.business.business_url), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
