<div class="container">
  <h1 style="text-align: center; margin-top: 10px;">User Access</h1>
  <table class="table"> 
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Admin Status<span data-toggle="tooltip" data-placement="right" title="Admins can delete admins and users"><%= image_tag "tooltip" %></span></th>
    </tr>
    <% @business.users.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <% if current_user.admin && current_user != user %>
        <td><%= link_to "remove user", remove_user_business_path(user.id), method: :delete, data: { confirm: 'Are you sure? This action perminantly delete this user account.' } %></td>
        <% if user.admin %>
          <td><%= link_to "remove admin privileges", remove_admin_privileges_business_path(user.id), method: :patch %></td>
        <% else %>
          <td><%= link_to "grant admin privileges", grant_admin_privileges_business_path(user.id), method: :patch %></td>
        <% end %>
      <% end %>
      <% if current_user.email == user.email %>
        <td>You</td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% if current_user.admin %>
    <h4>Create More Users</h4>
    <table class="table">
      <tr>
        <%= simple_form_for(@user, url: create_user_business_path(params[:id]), method: :post) do |f| %>
          <td><%= f.input :admin %></td>
          <td><%= f.input :first_name %></td>
          <td><%= f.input :last_name %></td>
          <td><%= f.input :email %></td>
          <td><%= f.input :password %></td>
          <td><%= f.input :password_confirmation %></td>
          <td><%= f.button :submit, class: "btn btn-primary" %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
</div>
   m 