<div class="container">
  <h1>Create A Menu</h1>
  <%= simple_form_for @menu do |f| %>
    <%= f.input :display_name %>
    <%= f.input :internal_name %>
    <%= f.input :location_id, as: :hidden, input_html: { value: params[:location_id] } %>
    <br>
    <%= f.input :description, as: :trix_editor %>
    <%= f.hidden_field :menu_url %>
    <br>
    <% if params[:location_id] %>
      <%= link_to "back", location_path(params[:location_id]) %>
    <% else %>
      <%= link_to "back", menus_path %>
      <%= f.button :submit, class: "btn btn-primary", data: { disable_with: "Saving..." } %>
    <% end %>
  <% end %>
  <hr>
  <h1>Attach A Menu</h1>
  <p>Name:</p>
  <p>Upload File:</p>
  <%#= simple_form_for @attached_menu do |f| %>
  <%#= f.input :name %>
  <%#= f.file_field :menu %>
</div>
