<div class="container">

  <%= simple_form_for @menu do |f| %>
    <div class="show container">
      <div class="row">
        <h1 class="show-header"><%= f.input :display_name, placeholder: @menu.display_name %></h1>
      </div>
        <%= f.input :internal_name, placeholder: @menu.internal_name %>
        <%= f.input :description, as: :trix_editor, placeholder: @menu.description%>
      <hr/>
      <%= link_to "back", menus_path %>
      <%= f.button :submit, class: "btn btn-primary btn-sm" %>
      <%= link_to "Delete Menu", menu_path(@menu), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure? This action will delete all menu items.' } %>
    </div>
  <% end %>

  <hr/>

  <h4><%=@menu.display_name%> Categories</h4>
  <%= link_to "Create Category", new_menu_category_path(@menu.id), class: "btn btn-primary btn-sm", style: "margin-bottom:1%;" %>
  <%= link_to "Sort Categories", sort_menu_categories_menu_path(@menu.id), class: "btn btn-primary btn-sm", style: "margin-bottom:1%;" %>
  <% if @menu.categories %> 
    <% @menu.categories.each do |category| %>
      <div class="row menu-show-category" style="margin-bottom: 1%; margin-top: 1%;">
        <div class="col">
          <p><%= category.name %></p>
        </div>
        <div class="row">
          <%= link_to "Update Category Name", edit_menu_category_path(@menu.id, category.id), class: "btn btn-primary btn-sm" %>
          <%= link_to "Delete Category",      menu_category_path(@menu.id, category.id), method: :DELETE, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure? This action will delete all category items.' }  %>
          <%= link_to "Add Menu Item",        new_menu_category_menu_item_path(@menu.id, category.id), class: "btn btn-primary btn-sm" %>
          <%= link_to "Sort Menu Items",      sort_category_menu_items_menu_category_path(@menu.id, category.id), class: "btn btn-primary btn-sm" %>
        </div>
      </div>

      <% category.menu_items.each do |menu_item| %>
        <div class="row menu-show-menu-item">
          <div class="col-1">
            <%= menu_item.code %>
          </div>
          <div class="col">
            <div class="row menu-item-name">
              <%= menu_item.name %><br>
            </div>
            <b>Category: <%= menu_item.category.name %><br></b>
            <%= menu_item.description.html_safe %>
          </div>
          <div class="col">
            <% if menu_item.image.attached? %>
              <%= image_tag menu_item.sized_image %>
            <% end %>
          </div>
          <div class="col">
            <%= link_to "Delete Menu Item", menu_category_menu_item_path(@menu.id, menu_item.category.id, menu_item.id), method: :DELETE, class: "btn btn-danger btn-sm" %>
            <%= link_to "Update Menu Item", edit_menu_category_menu_item_path(@menu.id, menu_item.category.id, menu_item.id), class: "btn btn-primary btn-sm" %>
          </div>
          $<%= menu_item.price %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No categories yet! </p>
  <% end %>

</div>
