<div class="col">
  <%= render 'partials/dashboard_nav' %>
</div>
<div class="col">
  <%= simple_form_for @menu do |f| %>
  <div class="show container">
    <div class="row">
      <h1 class="show-header"><%= f.input :name, placeholder: @menu.name %></h1>
    </div>
    <hr/>
    <%= link_to "back", menus_path %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Delete Menu", menu_path(@menu), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure? This action will delete all menu items.' } %>
  </div>
  <% end %>
  <hr/>
  <div class="row">
    <div class="col">
      <h4 style="margin-left: 100px;"><%=@menu.name%> Categories</h4>
      <% if @menu.categories %> 
        <% @menu.categories.each do |category| %>
          <ul class="list-group" style="margin-left: 100px; margin-bottom: 10px; ">
            <li class="list-group-item"><p><%= category.name %></p></li>
            <li class="list-group-item">
            <%= link_to "Update Category", edit_category_path(category), class: "btn btn-primary" %>
            <%= link_to "Delete Category", category_path(category), method: :DELETE, class: "btn btn-danger", data: { confirm: 'Are you sure? This action will delete all category items.' }  %></li>
          </ul>
        <% end %>
      <% else %>
        <p>No categories yet! </p>
      <% end %>
    <div class="category-btns" style="margin-left: 100px;">
      <%= link_to "Create Category", new_category_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="col">
    <% if @categories %>
      <% @categories.each do |category| %>
        <% category.menu_items.each do |menu_item| %>
          <ul class="list-group" style="margin-bottom:10px;">
            <li class="list-group-item"><h2><b><%= menu_item.name %><br></b></h2><hr>
            <div class="row">
              <div class="col-1">
                <h1><b><%= menu_item.code %></b></h1><br>
              </div>
              <div class="col">
                <b><%= menu_item.category.name %></b><br>
                <%= menu_item.description %><br>
              </div>
              <h1>$<b><%= menu_item.price %></b></h1>
            </div>
            <%= link_to "Update Menu Item", edit_menu_item_path(categories: @categories.map{ |category| [category]}), class: "btn btn-primary" %>
            <%= link_to "Delete Menu Item", menu_item_path(menu_item), method: :DELETE, class: "btn btn-danger" %></li>
          </ul>
        <% end %>
      <% end %>
    <% else %>
      <p>No menu items yet! </p>
    <% end %>
  
    <% if @menu.categories.present? %> 
      <div class="menu-itm-btns" style="margin-top: 10px;">
        <%= link_to "Create Menu Item", new_menu_item_path(categories: @categories.map{ |category| [category]}), class: "btn btn-primary" %>
      </div>
    <% else %>
      <p> Please create a category to create a menu item </p>
    <% end %>
  </div>
</div>
