<div class="container">
  <%= simple_form_for @menu do |f| %>
    <div class="show container">
      <div class="row">
        <h1 class="show-header"><p data-toggle="tooltip" data-placement="right" title="Anyone viewing your menu will see this name."><%= image_tag "tooltip" %></p>
        <%= f.input :display_name %></h1>
      </div>
      <div class="row">
        <p data-toggle="tooltip" data-placement="top" title="Internal name is how we differentiate menus. Please make sure this is unique."><%= image_tag "tooltip" %></p>
        <%= f.input :internal_name %>
      </div>
      <%= f.input :description, as: :trix_editor %>
      <hr/>
      <%= link_to "back", menus_path %>
      <%= f.button :submit, class: "btn btn-primary btn-sm" %>
      <%= link_to "Delete Menu", menu_path(@menu), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure? This action will delete all menu items.' } %>
    </div>
  <% end %>
  <hr/>

  <h4><%=@menu.display_name%> Categories</h4>

  <%= link_to "Create Category", new_menu_category_path(@menu.id), { remote: true, class: "btn btn-primary btn-sm", 'data-toggle' => "modal", 'data-target' => "#create-category-modal" } %>
  <div class="modal fade" id="create-category-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" id="create-category-form-modal-content">
      </div>
    </div>
  </div>
  <%= link_to "Sort Categories", sort_menu_categories_menu_path(@menu.id), class: "btn btn-primary btn-sm" %>
  
  <% if @menu.categories %> 
    <% @menu.categories.each do |category| %>
      <div class="row menu-show-category">
        <div class="col">
          <b><%= category.name %></b>
        </div>
        <%= link_to "Edit Category", edit_menu_category_path(@menu.id, category.id), { remote: true, class: "btn btn-primary btn-sm", 'data-toggle' => "modal", 'data-target' => "#edit-category-modal" } %>
        <div class="modal fade" id="edit-category-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="edit-category-form-modal-content">
            </div>
          </div>
        </div>
        <%= link_to "Delete Category", menu_category_path(@menu.id, category.id), method: :DELETE, class: "btn btn-danger btn-sm category-edit-button", data: { confirm: 'Are you sure? This action will delete all category items.' }  %>
        <%= link_to "Add Menu Item",   new_menu_category_menu_item_path(@menu.id, category.id), class: "btn btn-primary btn-sm category-edit-button" %>
        <%= link_to "Sort Menu Items", sort_category_menu_items_menu_category_path(@menu.id, category.id), class: "btn btn-primary btn-sm category-edit-button" %>
      </div>

      <% category.menu_items.each do |menu_item| %>
        <div class="row menu-show-menu-item">
          <div class="col-1">
            <%= menu_item.code %>
          </div>
          <div class="col">
            <div class="row menu-item-name">
              <%= menu_item.name %><br>
            </div>
              <p><%= menu_item.description.html_safe %></p>
              <% if menu_item.item_options %>
              <table id="pub-m-table">
                <thead>
                  <tr>
                    <th>Options</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <% menu_item.menu_item_options.each do |option| %>
                    <tr>
                      <td id="pub-m-td"><%= option.name %></td>
                      <% if option.price %>
                        <td id="pub-m-td">$<%=option.price%></td>
                      <% else %>
                        <td id="#priv-m-td">$0</td>
                      <% end %>
                    </tr>
                  <% end %>
                <tbody>
              </table>
            <% end %>
          </div>
          <div class="col">
            <% if menu_item.image.attached? %>
              <%= image_tag menu_item.sized_image %>
            <% end %>
          </div>
          <div class="col">
            <%= link_to "Delete Menu Item", menu_category_menu_item_path(@menu.id, menu_item.category.id, menu_item.id), method: :DELETE, class: "btn btn-danger btn-sm" %>
            <%= link_to "Update Menu Item", edit_menu_category_menu_item_path(@menu.id, menu_item.category.id, menu_item.id), class: "btn btn-primary btn-sm" %>
          </div>
          $<%= menu_item.price %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No categories yet! </p>
  <% end %>

</div>
