<div class="background" style="
background-color:  <%= @business_display_attribute.background_color %>;
font-family:      '<%= @business_display_attribute.font.name %>';
background-image:  <%= @business_display_attribute.background_image.attached? ? "url(#{url_for @business_display_attribute.sized_background_image(size: 900)})" : 'none' %>;
background-repeat: <%= @business_display_attribute.repeat? ? "repeat" : "no-repeat; background-size: cover" %>;"
>
  <div class="container" id="index-container" style="background-color: <%= @business_display_attribute.foreground_rgba(@business_display_attribute.foreground_color, @business_display_attribute.foreground_opacity) %>">
    <% if @business_display_attribute.sized_banner %>
      <div class="business-banner">
        <%= list_image(@business_display_attribute.banner, alt: "Image") %>
      </div>
    <% end %>

    <% if @business_display_attribute.sized_top_icon %>
      <div class="business-top-ico">
        <%= list_image(@business_display_attribute.top_icon, alt: "Image") %>
      </div>
    <% end %>

    <h1 id="index-heading" style="color: <%= @business_display_attribute.heading_color %>; font-family: <%= @business_display_attribute.heading_font.name %>"><%= @business.name %></h1>
  
    <% if @business_display_attribute.hero_image_or_video %>
      <% if @business_display_attribute.sized_hero_image %>
        <div class="business-hero">
          <%= image_tag(@business_display_attribute.hero_image, alt: "Image", style: "width:100%;height:100%;") %>
        </div>
      <% end %>
    <% else %>
      <% if @business_display_attribute.hero_video.attached? %>
        <div class="business-hero-video-container">
          <%= video_tag(url_for(@business_display_attribute.hero_video), autoplay: 'true', loop: 'true', muted: 'true', id: 'business-hero-video' )%>
        </div>
      <% end %>
    <% end %>

    <div id="index-description" style="color: <%= @business_display_attribute.general_text_color %> !important">
      <%= @business.description.html_safe %>
    </div> 
    <h3  id="index-description" style="color: <%= @business_display_attribute.general_text_color %>">Locations</h3>
    <% unless @locations.empty? %>
      <% @locations.each do |location| %>
        <div class="card" style="border-radius: <%= @business_display_attribute.card_border_radius%>px; margin:5px; background-color: <%= @business_display_attribute.card_background_color %>; border: 1px solid <%= @business_display_attribute.card_border_color%>">
          <div class="row" style="padding: 10px; width: 100%;">
            <div class="col" style="margin: 0.5rem;" >
              <% if location.location_images %>
                <% location.location_images.each do |image| %>
                  <%= list_image(image.sized_image(size: 100), alt: 'Location Image') %>
                <% end %>
              <% end %>
            </div>
            <div class="col">
              <h5 id="index-card" style="padding-top: 30px; color: <%= @business_display_attribute.general_text_color %>"><%= location.name %></h5>
              <h5 id="index-card" style="margin-top: 5px; color: <%= @business_display_attribute.general_text_color %>"><%= location.address %></h5>
              <% unless location.open.blank? %>
                <h5 id="index-card" style="margin-top: 5px; color: <%= @business_display_attribute.general_text_color %>">open: <%= location.open %></h5>
              <% end %>
              <%= link_to "View location", public_location_path(@business.business_url, location.location_url), id: "view-location-btn",class: "btn btn-sm btn-primary custom-btn", style: "background-color: #{@business_display_attribute.button_color}; border-color: #{@business_display_attribute.button_color}; color: #{@business_display_attribute.button_text_color}" %>
            </div>
            <div class="col">
              <iframe id="index-iframe" width="200" height="200" frameborder="0"
              src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["MAPS_API_KEY"] %>&q=<%= location.latitude %>,<%= location.longitude %>"
              allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>  
      <% end %>
    </div>
    <% else %>
      <p id="index-description"> <%= @business.name %> does not have any locations posted yet! <p>
    <% end %>
  </div>
</div>
