<div class="backround" style="
background-color: <%= @business.business_display_attribute.background_color %>;
font-family: '<%= @business.business_display_attribute.font.name %>';
">
  <div class="container" style="text-align:center;">
    <h1 style="padding-top:30px; margin-bottom: 50px; color: <%= @business.business_display_attribute.primary_color %>;"><%= @business.name %>'s Page</h1>
    <p syle="color: <%= @business.business_display_attribute.primary_color %>"><%= @business.description.html_safe %></p> 

    <h3 style="color: <%= @business.business_display_attribute.primary_color %>">Locations</h3>
    <% unless @locations.empty? %>
      <% @locations.each do |location| %>
        <div class="row" style="width: 100%; background-color: <%= @business.business_display_attribute.secondary_color %>">
          <div class="col" style="margin: 0.5rem;" >
            <% if location.location_images %>
              <% location.location_images.each do |image| %>
                <%= list_image(image.sized_image(size: 200), alt: 'Location Image') %>
              <% end %>
            <% end %>
          </div>
          <div class="col">
            <h5 style="padding-top: 30px; color: <%= @business.business_display_attribute.primary_color %>"><%= location.name %></h5>
            <h5 style="margin-top: 5px; color: <%= @business.business_display_attribute.primary_color %>"><%= location.phone_number %></h5>
            <h5 style="margin-top: 5px; color: <%= @business.business_display_attribute.primary_color %>"><%= location.address %></h5>
            <%= link_to "View location", public_location_path(@business.business_url, location.location_url), class: "btn btn-sm btn-primary" %>
          </div>
          <div class="col">
            <iframe width="200" height="200" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['MAPS_API_KEY'] %>&q=<%= location.latitude %>,<%= location.longitude %>"
            allowfullscreen>
            </iframe>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <p> <%= @business.name %> does not have any locations posted yet! <p>
    <% end %>
  </div>
</div>
