<div class="backround" style="
background-color: <%= @business.business_display_attribute.background_color %>;
font-family: '<%= @business.business_display_attribute.font %>';
">
<div class="container">
  <h1 style="text-align:center; padding-top:30px; color: <%= @business.business_display_attribute.primary_color %>;"><%= @business.name %>'s Page</h1>
    <h1 style="color: <%= @business.business_display_attribute.primary_color %>">Locations</h1>

      <% unless @locations.empty? %>
        <% @locations.each do |location| %>
          <div class="row" style="width: 100%; background-color: <%= @business.business_display_attribute.secondary_color %>">
            <div class="col" style="margin: 0.5rem;" >
              <% if location.location_images %>
                <% location.location_images.each do |image| %>
                  <%= list_image(image.sized_image(size: 200), alt: 'Location Image') %>
                <% end %>
              <% end %>
            </div>
            <div class="col">
              <h5 style="margin-top: 5px; color: <%= @business.business_display_attribute.primary_color %>"><%= location.name %></h5>
              <h5 style="margin-top: 5px; color: <%= @business.business_display_attribute.primary_color %>"><%= location.phone_number %></h5>
              <h5 style="margin-top: 5px; color: <%= @business.business_display_attribute.primary_color %>"><%= location.address %></h5>
              <%= link_to "View location", public_location_path(@business.business_url, location.location_url), class: "btn btn-sm btn-primary" %>
            </div>
            <div class="col">
              <p>Map Here</p>
            </div>
          </div>
       <% end %>
      </div>
      <% else %>
        <p> <%= @business.name %> does not have any locations posted yet! <p>
     <% end %>
    </div>
  </div>
</div>
