<div class="backround" style="
background-color: <%= @business.business_display_attribute.background_color %>;
font-family: '<%= @business.business_display_attribute.font.name %>';
">

<div class="container">

  <div style="text-align:center;">
    <h1 class="show-header" style="color: <%= @business.business_display_attribute.primary_color %>"><%= @location.name %></h1>
    <h5 style=" color: <%= @business.business_display_attribute.primary_color %>" ><%= @business.name %> Location</h5><br>
  </div>

  <% if @business.locations.count < 2 %>
    <div style="margin-bottom:49px;">
        <%= @business.description.html_safe%>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <% if @business.locations.count > 1 %>
        <%= link_to "Back to #{@business.name}'s page", public_locations_path(@business.business_url), class: "btn btn-primary btn-sm" %>
      <% end %>
      <div class="card" style="height:82%; 
      margin-top:5px; 
      padding-top:10px; 
      padding-left:10px;
      background-color: <%= @business.business_display_attribute.secondary_color%>">
        <p style="color: <%= @business.business_display_attribute.primary_color %>">Address: <%= @location.address %></p>
        <p style="color: <%= @business.business_display_attribute.primary_color %>">Open: <%= @location.open %></p>
        <% if @location.phone_number %>
        <p style="color: <%= @business.business_display_attribute.primary_color %>">Phone Number: <%= @location.phone_number %></p>
        <% else %>
        <p style="color: <%= @business.business_display_attribute.primary_color %>">Phone Number: <%= @business.phone_number %></p>
        <% end %>
      </div>
    </div>
    <div class="col gallery">
      <% if @location.location_images.count < 4 %>
        <% @location.location_images.each do |image| %>
          <div class="row">
            <%= list_image(image.sized_image(size: 200), alt: 'Location Image') %>
          </div>
        <% end %>
      <% else %>
        <div class="row row-cols-3">
          <% @location.location_images.each do |image| %>
            <%= list_image(image.sized_image(size: 200), alt: 'Location Image') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="padding-top:20px;">
    <div class="col">
    <% if @location.location_menus %>
      <% @location.location_menus.each do |location_menu| %>
        <div class="row">
          <div class="card col" style="width: 18rem; margin: 0.5rem; background-color: <%= @business.business_display_attribute.secondary_color %>">
            <div class="col">
              <div class="card-body">
                <div class="row">
                  <h5 class="card-title" style="color: <%= @business.business_display_attribute.primary_color %>"><%= location_menu.menu.display_name %></h5>
                </div> 
                <%= link_to "View Menu", public_menu_path(@location.business.business_url, 
                                                          @location.location_url, 
                                                          location_menu.menu.menu_url), 
                                                          class: "btn btn-primary" %>
              </div>
            </div>
            <div class="col">
              <p 
                  <h5 class="card-title" style="color: <%= @business.business_display_attribute.primary_color %>"><%= location_menu.menu.description.html_safe %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p style="color: <%= @business.business_display_attribute.primary_color %>"> this location has not had any menus posted for it yet! <p>
    <% end %>
    </div>
    <iframe width="300" height="300" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['MAPS_API_KEY'] %>&q=<%= @location.latitude %>,<%= @location.longitude %>"
    allowfullscreen>
    </iframe>
  </div>
<div>

</div>