<tr class='nested-fields'>
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :price, label: false %></td>
  <%= f.hidden_field :display_sequence_number, value: 0, class:"display_sequence_number" %>
  <td><%= link_to_remove_association "remove option", f, class:"btn btn-primary btn-sm" %></th>
  <td><%= image_tag("drag_indicator")%>
</tr>
