<h1>Create A Menu Item</h1>
<%= simple_form_for @menu_item do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :code %>
  <p>Select a category: </p>
  <%= f.collection_select :category_id, @categories, :id, :name %>
  <%= f.button :submit %>
<% end %>
<%= link_to "back", menus_path %>
