<div class="modal fade" id="edit-tag-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="edit-tag-form-modal-content">
    </div>
  </div>
</div>
<div class="container form-container">
  <h1>Available tags</h1>
  <%= simple_form_for @business, url: save_sort_tags_business_tags_path(current_business) do |f| %>
    <table class="table table-sm form-block">
      <thead>
        <tr>
          <th>Tag Name</th>
          <th>Tag Icon</th>
          <%= link_to "Repopulate default tags", repopulate_tags_business_tag_path(current_business, @business.id), method: :post, class: "btn btn-primary" %>
        </tr>
      </thead>
        <tbody id="tags-list">
          <%= f.simple_fields_for :tags do |tag_form| %>
            <%= render 'tag_row', tag_form: tag_form %>
          <% end %>
        </tbody>
      </table>
    <%= f.button :submit, "Save Tag order", class: "btn btn-primary" %>
  <% end %>
  <%= render 'create_tag' %>
</div>
