<div class="background" style="
background-color: <%= @business_display_attribute.background_color %>;
font-family: '<%= @business_display_attribute.font.name %>';
background-image: <%= @business_display_attribute.background_image.attached? ? "url(#{url_for @business_display_attribute.sized_background_image(size: 900)})" : 'none' %>;
background-repeat: <%= @business_display_attribute.repeat? ? "repeat" : "no-repeat; background-size: cover"%>;"
>

<div id="menu-banner">
  <% if @menu.image.attached? %>
    <%= image_tag @menu.sized_image(size: 600) %>
  <% end %>
</div>
<div class="container" id="pub-m-container">
  <div class="menu-info" style="background-color: <%= @business_display_attribute.foreground_rgba(@business_display_attribute.foreground_color, @business_display_attribute.foreground_opacity) %>">
    <h1 style="color: <%= @business_display_attribute.general_text_color %>;"><%= @menu.display_name %></h1>
    <span style="color: <%= @business_display_attribute.general_text_color %>"><%= @menu.description.html_safe %></span>
  </div>

  <div class="row">
    <% if @menu.categories.count > 1 %>
      <div class="col-2" id="menu-nav" style="background-color: <%= @business_display_attribute.card_background_color %>; border: 1px solid <%= @business_display_attribute.card_border_color %>;">
        <% @menu.categories.each do |category| %>
          <div class="row">
            <a href="#<%=category.name%>" style="color: <%= @business_display_attribute.general_text_color%>;"><%= category.name %></a>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col">
      <div id="pub-menu">
        <div class="row">
          <%= link_to "Back to #{@business.name}", public_location_path(@business.business_url, @location.location_url), class:"btn btn-primary btn-sm custom-btn", style:"background-color: #{@business_display_attribute.button_color}; border-color: #{@business_display_attribute.button_color}; color: #{@business_display_attribute.button_text_color}" %>
          <% if @menu.categories %> 
            <div class="dropdown" id="menu-category-nav">
              <button class="btn btn-primary dropdown-toggle custom-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: <%= @business_display_attribute.button_color %>; border-color: <%= @business_display_attribute.button_color %>; color: <%= @business_display_attribute.button_text_color %>">
                Categories
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @menu.categories.each do |category| %>
                  <a class="dropdown-item hamburger-item" href="#<%=category.name%>"><%= category.name %></a>
                <% end %>
              </div>
            </div>
          </div>
        
          <% @menu.categories.each do |category| %>
            <div class="row menu-show-category" style="background-color: <%= @business_display_attribute.card_background_color %>; border: 1px solid <%= @business_display_attribute.card_border_color %>;">
              <div class="col" id="<%= category.name %>">
                <h3 class="category-name" style="color: <%= @business_display_attribute.general_text_color %>"><%= category.name %></h3>
              </div>
            </div>

            <% category.menu_items.each do |menu_item| %>
              <div class="row menu-show-menu-item" style="background-color: <%= @business_display_attribute.card_background_color %>; border: 1px solid <%= @business_display_attribute.card_border_color %>;">
                <div class="col-1">
                  <p style="color: <%= @business_display_attribute.general_text_color %>;"><%= menu_item.code %></p>
                </div>
                <div class="col">
                  <div class="row" style="background-color: <%= @business_display_attribute.menu_item_header_color %>; padding-left: 5px;">
                    <h5 style="color: <%= @business_display_attribute.general_text_color %>;"><%= menu_item.name %></h5>
                  </div>
                  <span style="color: <%= @business_display_attribute.general_text_color %>"><%= menu_item.description.html_safe %></span>
                  <% if menu_item.item_options %>
                    <table id="pub-m-table" style="color: <%= @business_display_attribute.general_text_color %>">
                      <thead>
                        <tr>
                          <th>Options</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% menu_item.menu_item_options.each do |option| %>
                          <tr>
                            <td id="pub-m-td"><%= option.name %></td>
                            <% if option.price %>
                              <td id="pub-m-td">$<%=option.price%></td>
                            <% else %>
                              <td id="#priv-m-td">$0</td>
                            <% end %>
                          </tr>
                        <% end %>
                      <tbody>
                    </table>
                  <% end %>
                </div>
                <% if menu_item.item_tags %>
                  <table id="pub-m-table">
                    <tbody>
                      <% menu_item.menu_item_tags.each do |menu_item_tag| %>
                        <tr>
                          <td id="pub-m-td">
                            <div class="image-wrap">
                              <div class="tag-name">
                                <span><%= menu_item_tag.tag.name %></span>
                              </div>
                              <% if menu_item_tag.tag.icon.attached? %> 
                                <%= image_tag(menu_item_tag.tag.sized_icon(size: 40)) %>
                              <% end %>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    <tbody>
                  </table>
                <% end %>
                <div class="col">
                  <% if menu_item.image.attached? %>
                    <%= image_tag menu_item.sized_image %>
                  <% end %>
                </div>
                <span style="color: <%= @business_display_attribute.general_text_color %>">$<%= menu_item.price %></span>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p style="color: <%= @business_display_attribute.general_text_color %>">No categories yet! </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
