<div class="background" style="
background-color: <%= @business.business_display_attribute.background_color %>;
font-family: '<%= @business.business_display_attribute.font.name %>';
">

<div class="container" id="pub-m-container">
  <div class="row customer-menu-title">
    <h1 style="color: <%= @business.business_display_attribute.primary_color %>%"><%= @menu.display_name %></h1>
  </div>
  <div class="row menu-description">
    <p style="color: <%= @business.business_display_attribute.primary_color %>%"><%= @menu.description.html_safe %></p>
  </div>
  
  <div id="pub-menu">
  <%= link_to "Back to menus", public_location_path(@business.business_url, @location.location_url) %>
    <% if @menu.categories %> 
      <% @menu.categories.each do |category| %>
        <div class="row menu-show-category" style="margin-bottom: 1%; margin-top: 1%;">
          <div class="col">
            <h5 style="color: <%= @business.business_display_attribute.primary_color %>%"><%= category.name %></h5>
          </div>
        </div>

        <% category.menu_items.each do |menu_item| %>
          <div class="row menu-show-menu-item">
            <div class="col-1">
              <p style="color: <%= @business.business_display_attribute.primary_color %>%"><%= menu_item.code %></p>
            </div>
            <div class="col">
              <div class="row" style="background-color: <%= @business.business_display_attribute.secondary_color %>; padding-left: 5px; padding=">
                <h5 style="color: <%= @business.business_display_attribute.primary_color %>%"><%= menu_item.name %></h5>
              </div>
              <p><%= menu_item.description.html_safe %>
              </p>
              <% if menu_item.item_options %>
              <table id="pub-m-table">
                <thead>
                  <tr>
                    <th>Options</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <% menu_item.menu_item_options.each do |option| %>
                    <tr>
                      <td id="pub-m-td"><%= option.name %></td>
                      <% if option.price %>
                        <td id="pub-m-td">$<%=option.price%></td>
                      <% else %>
                        <td id="#priv-m-td">$0</td>
                      <% end %>
                    </tr>
                  <% end %>
                <tbody>
              </table>
            <% end %>
            </div>
            <div class="col">
              <% if menu_item.image.attached? %>
                <%= image_tag menu_item.sized_image %>
              <% end %>
            </div>
            $<%= menu_item.price %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No categories yet! </p>
    <% end %>
  </div>
</div>

</div>
<p style="text-align:center;">Powered by <a href="#">ClickingSandwiches</a></p>
