<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Edit Category</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= simple_form_for @category, url: menu_category_path(@menu.id, @category.id), method: :patch, remote: true do |f| %>
  <div class="modal-body">
    <%= f.input :name %>
    <%= f.hidden_field :menu_id, value: @menu.id %>
    <%= f.hidden_field :display_sequence_number, value: @category.display_sequence_number %>
  </div>
  <div class="modal-footer">
    <%= link_to 'back', menu_path(@menu), class: "btn btn-primary btn-sm"%>
    <%= f.button :submit, class: "btn btn-primary btn-sm", data: { disable_with: "Saving..." } %>
  </div>
<% end %>
