<div class="container" style="text-align:center;">
  <h1>Create A Location</h1>
  <%= simple_form_for @location, url: business_locations_path do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number, label: "Phone Number" %>
    <%= f.input :open, label: "Opening Times", as: :text %>
    <%= f.hidden_field :location_url %>
    <br>
    <%= f.button :submit, class: "btn btn-primary", data: { disable_with: "Saving..." } %>
  <% end %><br>
  <%= link_to "back", business_locations_path %>
</div>
