<div class="container">
  <h2 style="margin-top: 10px;"><%= @location.name %></h2>
  <div class="row">
    <div class="col">
      <%= simple_form_for @location do |f| %>
        <%= f.input :name, placeholder: @location.name %>
        <%= f.input :address, placeholder: @location.address %>
        <%= f.input :phone_number, placeholder: @location.phone_number %>
        <br>
        <%= link_to "back", locations_path %>
        <%= f.button :submit, class: "btn btn-primary btn-sm", data: { disable_with: "Saving..." } %>
        <%= link_to "Delete Location", location_path(@location), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure you want to delete this location?'} %>
      <% end %>
    </div>
    <div class="col">

      <div class="row row-cols-4">
        <% @location.location_images.each do |location_image| %>
            <% if location_image.image.attached? %>
              <%= link_to image_tag(location_image.sized_image(size: 100)), location_image.sized_image(size: 300), class: "fancybox" %> 
              <br>
              <%= link_to "Delete Image", remove_image_location_path(location_image: location_image.id), method: :delete %>
            <% end %>
        <% end %>
      </div>
      
      <%= simple_form_for @location_image, url: add_image_location_path do |f| %>
        <%= f.file_field :image, accept: 'image/png,image/jpeg', input_html: { required: true } %>
        <%= f.hidden_field :display_sequence_number, value: 1 %>
        <div class="row" style="margin-top: 10px;">
          <%= f.button :submit, "Upload Image", class:"btn btn-primary btn-sm", style: "margin-right: 10px;" %>
          <%= link_to "change display order", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
 
  <% if @menus.present? %>
    <%= link_to "Add existing menu", show_menus_location_path, class: "btn btn-primary" %>
  <% end %>
  <% unless @location.location_menus.empty? %>
    <% @location.location_menus.each do |location_menu| %>
      <div class="row row-cols-2">
        <div class="card location-card">
          <div class="card-body">
            <h5 class="card-title"><%= location_menu.menu.display_name %></h5>
            <h5 class="card-title"><%= location_menu.menu.internal_name %></h5>
            <p class="card-text"><%= location_menu.menu.description.html_safe %></p>
            <%= link_to "View Menu",   menu_path(location_menu.menu), class: "btn btn-primary" %>
            <%= link_to "Remove Menu", remove_menu_location_path(location_menu:location_menu.id), method: :delete, class: "btn btn-danger" %> 
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p> You have no menus <p>
  <% end %>
</div>
