<ul class="nav justify-content-end">
  <% if user_signed_in? && current_user.business %>
    <%= link_to "#{current_user.business.name} Public Pages", public_locations_path(current_user.business.business_url), class: "nav-item nav-link active" %>
    <li class="nav-item">
      <%= link_to "My Business", business_path(current_user.business), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "User Access", business_business_users_path(current_business), class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Locations & reservations",locations_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Menus", menus_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
    </li>
  <% elsif current_user %>
    <li class="nav-item">
      <%= link_to "Create Business", new_business_path, class: "nav-link active"  %>
    </li>
  <% end %>
</ul>
