<ul class="nav justify-content-end">
  <li class="nav-item"></li>
  <% if user_signed_in? && current_user.business %>
    <%= link_to current_user.business.name, public_locations_path(current_user.business.business_url), class: "nav-link active" %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dashboard
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "My Business", business_path(current_user.business), class: "drop-down-link nav-link active" %>
        <%= link_to "Locations",   locations_path, class: "drop-down-link nav-link active" %>
        <%= link_to "Menus",       menus_path ,    class: "drop-down-link nav-link active" %>
      </div>
    </li>
    <li class="nav-item">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
    </li>
  <% elsif current_user %>
    <li class="nav-item">
      <%= link_to "Create Business", new_business_path, class: "nav-link active"  %>
    </li>
  <% end %>
</ul>

<ul class="nav nav-public justify-content-end" style="background-color: <%= current_business.business_display_attribute.nav_bar_colour %>">
  <li class="nav-item">
    <%= link_to "Clicking Sandwhiches", root_path, class: "nav-link active" %>
  </li>
  <% unless user_signed_in? %>
    <li class="nav-item">
      <%= link_to "#{current_business.name}", public_locations_path(current_business.business_url), class: "nav-link active" %>
    </li>
    <li class="nav-item">
     <%= link_to "Sign In", new_user_session_path, class: "nav-link active" %>
    </li>
  <% end %>
</ul>
