<!DOCTYPE html>
<html>
  <head>
    <title>ClickingSandwiches</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag :cocoon %>
  </head>

  <body>
    <%= render 'partials/nav_bar' %>
    
    <%= yield %>

    <script>
      $('#menu-items-list').sortable({ 
        placeholder: 'ui-state-highlight',
        update: function(event, ui) {
          $('#menu-items-list tr').each(function (index) { $(this).find(".display_sequence_number").val(index+1) }); // Update display_sequence after row moved.
        }
      });

       $('#categories-list').sortable({ 
        placeholder: 'ui-state-highlight',
        update: function(event, ui) {
          $('#categories-list tr').each(function (index) { $(this).find(".display_sequence_number").val(index+1) }); // Update display_sequence after row moved.
        }
      });

    $('.minicolors').minicolors({ theme: 'bootstrap' })
    
    $("a.fancybox").fancybox()

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    $('input:radio[name="menu_item[item_options]"]').change(function () {
      console.log("checkbox change")
      if ($('input:radio[name="menu_item[item_options]"]:checked').val() == 'true') {
        $("#menu-item-radio-no").slideUp();
        $("#menu-item-radio-buttons").slideDown();
      }
      if ($('input:radio[name="menu_item[item_options]"]:checked').val() == 'false') {
        $("#menu-item-radio-buttons").slideUp();
        $("#menu-item-radio-no").slideDown();
      }
	  })

    </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY" async defer> </script>
  </body>
  
</html>
